body {
    background-color: #fdfdfd;
    color: #263238;
}

nav {
    color: #fdfdfd;
}

h6 {
    font-size: 1.25em;
}

.names {
    display: none;
}

#logo-container {
    font-size: 2.25em;
    letter-spacing: -4.5px;
}

#contact-button {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
} 

#nav-mobile {
    z-index: 999;
}

#about-me {
    background-color: #263238;
    color: white;
}

.dark-divider {
    color: #546e7a;
    background-color: #546e7a;
}

.info {
    text-align: justify;
    text-justify: distribute;
}

.page-footer {
    background-color: #fdfdfd;
    color: #263238;
}

#copyright {
    color: #263238;
}